{{!-- <div class="container-chat">
    <h2>Chat</h2>
    <div id="chatRoom"></div>

    <form id="form" class="m-4">
      <div class="input-group">
        <label for="email" class="input-group-text">Email </label>
        <input id="email" name="email" type="email" placeholder="User email" class="form-control" required/>
      </div>
      <div class="input-group">
        <label for="email" class="input-group-text">Email </label>
        <input id="systemEmail" name="email" type="email" placeholder="System email" class="form-control" required/>
      </div>
      <div class="input-group">
        <label for="username" class="input-group-text">Username</label>
        <input id="username" name="username" type="text" placeholder="Username" class="form-control" required/>
      </div>
      <div class="input-group">
        <label for="username" class="input-group-text">System Username</label>
        <input id="systemUsername" name="username" type="text" placeholder="All things Japan" class="form-control" required/>
      </div>
      <div class="input-group">
        <label for="message" class="input-group-text">Message </label>
        <input id="message" name="message" type="text" placeholder="Message" class="form-control" required/>
      </div>
      <div class="col-12">
        <button id="sendButton" class="btn btn-dark" type="submit">Submit</button>
      </div>
    </form>
  </div> --}}