<section class="vh-100" style="background-color: black;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <div class="text-center mb-4 pb-2">
              <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2811e737-de2c-49ba-9a06-4a471e55b498/devo3wx-47b75efa-46c7-43d6-8d5a-5d6e492bc89e.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI4MTFlNzM3LWRlMmMtNDliYS05YTA2LTRhNDcxZTU1YjQ5OFwvZGV2bzN3eC00N2I3NWVmYS00NmM3LTQzZDYtOGQ1YS01ZDZlNDkyYmM4OWUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.6F_HKfya5sur0J5UDqUEH7wOkOw3M7V8EA5kn3-ZQCA"
                alt="Bulb" width="100">
            </div>
            <figure class="text-center mb-0">
                <p class="pb-3">
                  <i class="fas fa-quote-left fa-xs text-primary"></i>
                  <span class="lead font-italic">Thanks for your purchase. Your order has been successfully created. Check your inbox for further details.</span>
                  <i class="fas fa-quote-right fa-xs text-primary"></i>
                </p>
                <a href="/" class="btn btn-outline-dark" type="button"  id="buttonPlaceOrder">Main Page</a>
            </figure>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>