<div class="alert alert-danger" role="alert">
Something went wrong with your credentials.
<ul>
    <li>Your username might be taken</li>
    <li>Make sure your password was confirmed correctly</li>
</ul>
<h5>You don't have an account, yet? <a href="/signup"><strong>Sign up!</strong></a></h5>
</div>
