<div class="container mx">
  <h2 class="bg-dark" id="headings">Add Product</h2>
  <form method="post" id="addProdForm">
      <label for="name" class="input-group-text">Name</label>
      <input id="inputs" name="name" type="text" placeholder="Name" class="form-control" required />
      <label  for="description" class="input-group-text">Description</label>
      <input id="inputs" name="description" type="text" placeholder="Description" class="form-control" required />
      <label for="price" class="input-group-text">Price</label>
      <input id="inputs" name="price" type="number" placeholder="Price" class="form-control" required/>
      <label for="stock" class="input-group-text">Stock</label>
      <input id="inputs" name="stock" type="number" placeholder="Stock" class="form-control" required/>
      <label for="code" class="input-group-text">Code</label>
      <input id="inputs" name="code" type="text" placeholder="Code" class="form-control" required/>
      <label for="code" class="input-group-text">Category</label>
      <input id="inputs" name="category" type="text" placeholder="Category" class="form-control" required/>
      <label for="thumbnail" class="input-group-text">Picture</label>
      <input id="inputs" name="thumbnail" type="url" placeholder="Thumbnail" class="form-control" required/>
    <div class="d-grid gap-2 col-1 mx-auto">
      <button class="btn btn-dark btn-lg" id="buttonSubmit" type="submit">Submit</button>
    </div>
  </form>
</div>