<div class="container mx">
  <h2>Add Product</h2>
  <form method="post" class="m-4">
    <div class="input-group">
      <label for="name" class="input-group-text">Name</label>
      <input name="name" type="text" placeholder="Name" class="form-control" required />
    </div>
    <div class="input-group">
      <label for="description" class="input-group-text">Description</label>
      <input name="description" type="text" placeholder="Description" class="form-control" required />
    </div>
    <div class="input-group">
      <label for="price" class="input-group-text">Price</label>
      <input name="price" type="number" placeholder="Price" class="form-control" required/>
    </div>
    <div class="input-group">
      <label for="stock" class="input-group-text">Stock</label>
      <input name="stock" type="number" placeholder="Stock" class="form-control" required/>
    </div>
    <div class="input-group">
      <label for="code" class="input-group-text">Code</label>
      <input name="code" type="text" placeholder="Code" class="form-control" required/>
    </div>
      <div class="input-group">
      <label for="code" class="input-group-text">Category</label>
      <input name="category" type="text" placeholder="Category" class="form-control" required/>
    </div>
    <div class="input-group">
      <label for="thumbnail" class="input-group-text">Picture</label>
      <input name="thumbnail" type="url" placeholder="Thumbnail" class="form-control" required/>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>