<div class="container mx">
  <h2 class="bg-dark" id="headings">Administrator Access Features</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://www.allblue-world.de/media/image/5b/86/86/x_btn60860-4_a_350x350@2x.jpg" class="card-img-top"
        alt="Hollywood Sign on The Hill" />
      <div class="card-body">
        <h5 class="card-title">ORDERS</h5>
        <p class="card-text">
          <a href="/admin/orders" class="btn btn-outline-dark" type="button">See more</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.maxmanga.it/ecommerce/wp-content/uploads/2021/12/x_btn63242-5_b-700x500.jpg" class="card-img-top"
        alt="Palm Springs Road" />
      <div class="card-body">
        <h5 class="card-title">USERS</h5>
        <p class="card-text">
          <a href="/admin/users" class="btn btn-outline-dark" type="button">See more</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.allblue-world.de/media/image/8b/e4/e5/x_apx88555_350x350@2x.jpg" class="card-img-top"
        alt="Los Angeles Skyscrapers" />
      <div class="card-body">
        <h5 class="card-title">PRODUCTS</h5>
          <a href="/admin/products" class="btn btn-outline-dark" type="button">See more</a>
      </div>
    </div>
  </div>
</div>
</div>